@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: Pixel;
}

@font-face 
{
    font-family: Pixel;
    src: url('/assets/fonts/pixelify/PixelifySans.ttf');
}

@font-face 
{
    font-family: Tron;
    src: url('/assets/fonts/tron.ttf');
}

.interface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: Pixel;
}

.mobileInterface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    pointer-events: none;
    font-family: Pixel;
}

/**
* Controls
*/
.controls
{
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
}

.controls .raw
{
    display: flex;
    justify-content: center;
}

.controls .raw p
{
    text-align: center;
    color: #FFFFFF;
    font-family: Pixel;
    font-size: 20px;
    padding-top: 2px;
}

.controls .key
{
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #ffffff;
    background: #ffffff44;
}

.controls .key.large
{
    width: 72px;
}

.controls .key.active
{
    background: #ffffff99;
}
